
$b-bg:#333;
$font-color:#fff;
$red-color: red;
$primary-color: #008ed6;
$icon-font-size: 30px;
body{
    background: $b-bg;
    color: $font-color;
}

.navbar{
    border-bottom: 5px solid $red-color;
    background: #332a35;
    opacity: 0.7;
}
#homeSection{
    background: url('../img/person.jpg') no-repeat center top;
    background-size: cover;
    min-height: 700px;
    background-attachment: fixed;

    .dark-overlay{
        background:  rgba(0, 0, 0, 0.7);
        min-height: 700px;
    }
    .fa{
        background: #fff;
        color: $primary-color;
        padding: 4px;
        font-size: $icon-font-size;
        border-radius: 5px;
    }

    .carddesign{
        opacity: 0.8;
    }
    .home-inner{
        padding-top: 150px;
        padding-bottom: 50px;
    }
}

#ExploreMainSection{
    .fa{
        background: $b-bg;
        color: #fff;
        padding: 4px;
        font-size: $icon-font-size;
        border-radius: 5px;
    }

}
#CreateMainSection{
    .fa{
        background: #fff;
        color: $primary-color;
        padding: 4px;
        font-size: $icon-font-size;
        border-radius: 5px;
    }
}
#ShareMainSection{
    .fa{
        background: $b-bg;
        color: #fff;
        padding: 4px;
        font-size: $icon-font-size;
        border-radius: 5px;
    }
}


@media(max-width: 768px){
    #homeSection h1{
        font-size: 26px;
    }

}